.projects {
  max-width: 1200px;
  margin: 0 auto 0 auto;
  padding: 30px 45px 150px 45px;

  background-color: var(--color-white);

  &__title {
    margin: 0 0 15px 0;

    text-align: center;
    font-family: montserrat, sans-serif;
  }

  &__section {
    margin: 0 0 40px 0;

    font-size: 18px;
    font-family: montserrat, sans-serif;
  }

  &__approach {
    display: flex;
    flex-direction: column;

    padding: 15px 0 0 20px;
    gap: 15px;

    list-style: none;

    &-item {
      padding: 0 0 0 15px;
      border-left: 2px solid rgb(33, 33, 33);
    }

    &-label {
      padding: 0 5px 0 0;
      font-weight: bold;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 15px;

    &-item {
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      max-width: 420px;
      height: 45px;
      padding: 0 15px 0 15px;

      color: var(--color-white);
      font-family: montserrat, sans-serif;
      font-size: 18px;
      text-align: center;

      background-color: rgb(33, 33, 33);
      border-radius: 5px;
    }
  }
}

.red-line {
  text-indent: 20px;
}

@media screen and (max-width: 925px) {
  .projects {
    padding: 30px 20px 100px 20px;

    &__nav-item {
      height: auto;
      padding: 12px 15px 12px 15px;
    }
  }
}
