/* [project]/Documents/Pets/ambilux/frontend/src/components/header/header.module.scss.module.css [app-client] (css) */
.header-module-scss-module__sUM59q__header {
  z-index: 10000;
  width: 100%;
  height: 40px;
  box-shadow: var(--shadow-vertical);
  background-color: var(--color-white);
  justify-content: center;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  overflow: visible;
}

.header-module-scss-module__sUM59q__active:before {
  content: "";
  background-color: var(--color-black);
  width: calc(100% - 30px);
  height: 5px;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.header-module-scss-module__sUM59q__item {
  cursor: pointer;
  text-align: center;
  width: 160px;
  color: var(--color-black);
  padding: 20px 0 0;
  font-family: helvetica, sans-serif;
  font-size: 15px;
  position: relative;
}

.header-module-scss-module__sUM59q__item:hover {
  color: #000000b3;
}

.header-module-scss-module__sUM59q__item:hover:before {
  content: "";
  background-color: var(--color-black);
  width: calc(100% - 30px);
  height: 5px;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.header-module-scss-module__sUM59q__mobileWrapper {
  display: none;
}

.header-module-scss-module__sUM59q__mobileMenu {
  opacity: 0;
  visibility: hidden;
  background-color: #e8e8e8;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 100px 0 0;
  transition: visibility, opacity .25s;
  display: flex;
  position: absolute;
}

.header-module-scss-module__sUM59q__mobileMenu.header-module-scss-module__sUM59q__activeMenu {
  opacity: 1;
  visibility: visible;
}

.header-module-scss-module__sUM59q__mobileItem:last-child:after {
  display: none;
}

.header-module-scss-module__sUM59q__mobileItem {
  color: var(--color-black);
  padding: 15px 0;
  font-family: montserrat, sans-serif;
  font-size: 22px;
  position: relative;
}

.header-module-scss-module__sUM59q__mobileItem.header-module-scss-module__sUM59q__mobileActive {
  color: #999;
}

.header-module-scss-module__sUM59q__mobileItem:after {
  content: "";
  background-color: var(--color-black);
  width: 50px;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 925px) {
  .header-module-scss-module__sUM59q__header {
    border-bottom: 1px solid #0000001a;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    position: relative;
  }

  .header-module-scss-module__sUM59q__imageWrapper {
    aspect-ratio: 281 / 50;
    width: calc(100% - 40px);
    margin: 140px auto 70px;
    position: relative;
  }

  .header-module-scss-module__sUM59q__mobileWrapper {
    display: block;
  }

  .header-module-scss-module__sUM59q__logo {
    object-fit: cover;
  }

  .header-module-scss-module__sUM59q__separator {
    background-color: var(--color-black);
    width: calc(100% - 100px);
    height: 3px;
    margin: 0 auto 70px;
  }

  .header-module-scss-module__sUM59q__sorry {
    text-align: center;
    width: calc(100% - 100px);
    margin: 0 auto 70px;
    font-family: montserrat, sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: block;
  }

  .header-module-scss-module__sUM59q__menuWrapper {
    justify-content: center;
    gap: 20px;
    display: flex;
    position: relative;
  }

  .header-module-scss-module__sUM59q__button {
    z-index: 111;
    cursor: pointer;
    width: 30px;
    height: 40px;
    transition: all .25s;
    position: absolute;
    top: 0;
    right: 40px;
  }

  .header-module-scss-module__sUM59q__button.header-module-scss-module__sUM59q__active .header-module-scss-module__sUM59q__buttonIcon {
    background-color: #0000;
    left: 0;
    transform: rotate(180deg);
  }

  .header-module-scss-module__sUM59q__button.header-module-scss-module__sUM59q__active .header-module-scss-module__sUM59q__buttonIcon:before, .header-module-scss-module__sUM59q__button.header-module-scss-module__sUM59q__active .header-module-scss-module__sUM59q__buttonIcon:after {
    top: 0;
  }

  .header-module-scss-module__sUM59q__button.header-module-scss-module__sUM59q__active .header-module-scss-module__sUM59q__buttonIcon:before {
    transform: rotate(45deg);
  }

  .header-module-scss-module__sUM59q__button.header-module-scss-module__sUM59q__active .header-module-scss-module__sUM59q__buttonIcon:after {
    transform: rotate(-45deg);
  }

  .header-module-scss-module__sUM59q__buttonIcon {
    overflow-y: initial;
    background-color: #212121;
    width: 30px;
    height: 4px;
    transition: all .25s;
    position: absolute;
    top: 20px;
    left: 0;
  }

  .header-module-scss-module__sUM59q__buttonIcon:before, .header-module-scss-module__sUM59q__buttonIcon:after {
    content: "";
    background: #212121;
    width: 30px;
    height: 4px;
    transition: all .25s;
    position: absolute;
    left: 0;
  }

  .header-module-scss-module__sUM59q__buttonIcon:before {
    top: -10px;
  }

  .header-module-scss-module__sUM59q__buttonIcon:after {
    top: 10px;
  }

  .header-module-scss-module__sUM59q__item {
    display: none;
  }
}

/*# sourceMappingURL=25fc4_ambilux_frontend_src_components_header_header_module_scss_module_css_bad6b30c._.single.css.map*/