/* [project]/Documents/Pets/ambilux/frontend/src/components/header/desktop/styles.module.scss.module.css [app-client] (css) */
.styles-module-scss-module__tOk6ba__desktop-header {
  z-index: 1000;
  background-color: var(--color-white);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 90px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

.styles-module-scss-module__tOk6ba__desktop-header__logo {
  width: 224.8px;
  height: 40px;
  position: relative;
}

.styles-module-scss-module__tOk6ba__desktop-header__navigation-item {
  cursor: pointer;
  margin: 0 0 0 45px;
  font-family: montserrat, sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.styles-module-scss-module__tOk6ba__desktop-header__burger {
  cursor: pointer;
  flex-shrink: 0;
  width: 28px;
  height: 20px;
  display: none;
  position: relative;
}

.styles-module-scss-module__tOk6ba__desktop-header__burger-icon, .styles-module-scss-module__tOk6ba__desktop-header__burger-icon:before, .styles-module-scss-module__tOk6ba__desktop-header__burger-icon:after {
  background-color: #212121;
  border-radius: 2px;
  width: 28px;
  height: 3px;
  transition: transform .25s, opacity .25s, top .25s, background-color .25s;
  position: absolute;
  left: 0;
}

.styles-module-scss-module__tOk6ba__desktop-header__burger-icon {
  top: 9px;
  overflow: visible;
}

.styles-module-scss-module__tOk6ba__desktop-header__burger-icon:before {
  content: "";
  top: -9px;
}

.styles-module-scss-module__tOk6ba__desktop-header__burger-icon:after {
  content: "";
  top: 9px;
}

.styles-module-scss-module__tOk6ba__desktop-header__burger--active .styles-module-scss-module__tOk6ba__desktop-header__burger-icon {
  background-color: #0000;
}

.styles-module-scss-module__tOk6ba__desktop-header__burger--active .styles-module-scss-module__tOk6ba__desktop-header__burger-icon:before {
  top: 0;
  transform: rotate(45deg);
}

.styles-module-scss-module__tOk6ba__desktop-header__burger--active .styles-module-scss-module__tOk6ba__desktop-header__burger-icon:after {
  top: 0;
  transform: rotate(-45deg);
}

.styles-module-scss-module__tOk6ba__desktop-header__mobile-nav {
  display: none;
}

@media screen and (max-width: 1150px) {
  .styles-module-scss-module__tOk6ba__desktop-header {
    padding: 0 40px;
  }
}

@media screen and (max-width: 925px) {
  .styles-module-scss-module__tOk6ba__desktop-header__navigation {
    display: none;
  }

  .styles-module-scss-module__tOk6ba__desktop-header__burger {
    display: block;
  }

  .styles-module-scss-module__tOk6ba__desktop-header__mobile-nav {
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    background-color: var(--color-white);
    max-height: calc(100vh - 80px);
    box-shadow: var(--shadow-vertical);
    flex-direction: column;
    align-items: center;
    padding: 10px 0 30px;
    transition: opacity .25s, visibility .25s, transform .25s;
    display: flex;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    overflow-y: auto;
    transform: translateY(-8px);
  }

  .styles-module-scss-module__tOk6ba__desktop-header__mobile-nav--open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .styles-module-scss-module__tOk6ba__desktop-header__mobile-nav .styles-module-scss-module__tOk6ba__desktop-header__navigation-item {
    margin: 0;
    padding: 14px 0;
    font-size: 18px;
  }
}

/*# sourceMappingURL=7ff96_frontend_src_components_header_desktop_styles_module_scss_module_css_bad6b30c._.single.css.map*/