/* [project]/Documents/Pets/ambilux/frontend/src/components/pages/projects/category/styles.module.scss.module.css [app-client] (css) */
.styles-module-scss-module__OrwWMW__category {
  flex-direction: column;
  padding: 0 0 150px;
  display: flex;
}

.styles-module-scss-module__OrwWMW__category__card {
  background-color: var(--color-white);
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 45px 60px;
  display: flex;
}

.styles-module-scss-module__OrwWMW__category__title {
  text-align: center;
  overflow-wrap: break-word;
  margin: 0 0 15px;
  font-family: montserrat, sans-serif;
}

.styles-module-scss-module__OrwWMW__category__section {
  margin: 0 0 40px;
  font-family: montserrat, sans-serif;
  font-size: 18px;
}

.styles-module-scss-module__OrwWMW__category__note {
  text-align: center;
  margin: 20px 0 0;
  font-family: montserrat, sans-serif;
  font-size: 18px;
  font-style: italic;
}

.styles-module-scss-module__OrwWMW__category__button {
  cursor: pointer;
  width: 100%;
  max-width: 520px;
  height: 45px;
  color: var(--color-white);
  text-align: center;
  background-color: #212121;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin: 0 auto 15px;
  padding: 0 15px;
  font-family: montserrat, sans-serif;
  font-size: 18px;
  font-weight: normal;
  display: flex;
}

.styles-module-scss-module__OrwWMW__category__button:last-of-type {
  margin: 0 auto;
}

.styles-module-scss-module__OrwWMW__category__button + .styles-module-scss-module__OrwWMW__category__button {
  margin-top: 15px;
}

.styles-module-scss-module__OrwWMW__category__gallery {
  grid-template-rows: 0fr;
  transition: grid-template-rows .5s ease-in-out;
  display: grid;
}

.styles-module-scss-module__OrwWMW__category__gallery--open {
  grid-template-rows: 1fr;
}

.styles-module-scss-module__OrwWMW__category__gallery-inner {
  min-height: 0;
  overflow: hidden;
}

.styles-module-scss-module__OrwWMW__red-line {
  text-indent: 20px;
}

@media screen and (max-width: 925px) {
  .styles-module-scss-module__OrwWMW__category {
    padding: 0 0 100px;
  }

  .styles-module-scss-module__OrwWMW__category__card {
    padding: 30px 20px 40px;
  }

  .styles-module-scss-module__OrwWMW__category__button {
    max-width: 420px;
    height: auto;
    padding: 12px 15px;
  }
}

/* [project]/Documents/Pets/ambilux/frontend/src/components/projects-list/projects-list.module.scss.module.css [app-client] (css) */
.projects-list-module-scss-module__fX2q0q__list {
  flex-direction: column;
  gap: 20px;
  max-width: 1175px;
  margin: 0 auto;
  padding: 10px 100px 30px;
  display: flex;
}

.projects-list-module-scss-module__fX2q0q__item {
  background-color: var(--color-white);
  justify-content: space-between;
  gap: 20px;
  display: flex;
  overflow: hidden;
}

.projects-list-module-scss-module__fX2q0q__reverse {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.projects-list-module-scss-module__fX2q0q__reverse .projects-list-module-scss-module__fX2q0q__itemInfo {
  padding: 25px 35px 25px 0;
}

.projects-list-module-scss-module__fX2q0q__itemInfo {
  flex-direction: column;
  padding: 25px 0 25px 30px;
  display: flex;
}

.projects-list-module-scss-module__fX2q0q__itemTitle, .projects-list-module-scss-module__fX2q0q__itemTimeline, .projects-list-module-scss-module__fX2q0q__itemDescription, .projects-list-module-scss-module__fX2q0q__itemSize, .projects-list-module-scss-module__fX2q0q__itemCapacity, .projects-list-module-scss-module__fX2q0q__itemSquare {
  font-family: Helvetica, sans-serif;
}

.projects-list-module-scss-module__fX2q0q__itemType, .projects-list-module-scss-module__fX2q0q__itemAddress, .projects-list-module-scss-module__fX2q0q__itemTimeline, .projects-list-module-scss-module__fX2q0q__itemDescription, .projects-list-module-scss-module__fX2q0q__itemSize, .projects-list-module-scss-module__fX2q0q__itemCapacity, .projects-list-module-scss-module__fX2q0q__itemSquare {
  font-family: montserrat, sans-serif;
  font-size: 17px;
  font-weight: lighter;
}

.projects-list-module-scss-module__fX2q0q__itemType {
  font-size: 13px;
}

.projects-list-module-scss-module__fX2q0q__itemTitle {
  margin: 10px 0 8px;
  font-size: 22px;
}

.projects-list-module-scss-module__fX2q0q__itemAddress {
  font-size: 17px;
  line-height: 30px;
}

.projects-list-module-scss-module__fX2q0q__itemSeparator {
  background-color: var(--color-black);
  width: 75px;
  height: 2px;
  margin: 25px 0 30px;
}

.projects-list-module-scss-module__fX2q0q__itemType, .projects-list-module-scss-module__fX2q0q__itemTitle, .projects-list-module-scss-module__fX2q0q__itemAddress {
  cursor: pointer;
  font-weight: bold;
}

.projects-list-module-scss-module__fX2q0q__itemTimeline, .projects-list-module-scss-module__fX2q0q__itemDescription {
  margin: 0 0 25px;
}

.projects-list-module-scss-module__fX2q0q__itemPictureWrapper {
  cursor: pointer;
  flex-shrink: 0;
  position: relative;
}

.projects-list-module-scss-module__fX2q0q__itemPicture {
  object-fit: cover;
}

@media screen and (max-width: 925px) {
  .projects-list-module-scss-module__fX2q0q__list {
    padding: 30px 0;
  }

  .projects-list-module-scss-module__fX2q0q__item {
    background-color: #0000;
    flex-direction: column;
    width: 100%;
  }

  .projects-list-module-scss-module__fX2q0q__itemInfo {
    align-items: center;
    padding: 10px 20px 50px;
  }

  .projects-list-module-scss-module__fX2q0q__reverse .projects-list-module-scss-module__fX2q0q__itemInfo {
    padding: 10px 20px 50px;
  }

  .projects-list-module-scss-module__fX2q0q__itemType, .projects-list-module-scss-module__fX2q0q__itemAddress, .projects-list-module-scss-module__fX2q0q__itemTimeline, .projects-list-module-scss-module__fX2q0q__itemDescription, .projects-list-module-scss-module__fX2q0q__itemSize, .projects-list-module-scss-module__fX2q0q__itemCapacity, .projects-list-module-scss-module__fX2q0q__itemSquare {
    text-align: center;
    width: 100%;
  }

  .projects-list-module-scss-module__fX2q0q__itemTimeline, .projects-list-module-scss-module__fX2q0q__itemDescription, .projects-list-module-scss-module__fX2q0q__itemSize, .projects-list-module-scss-module__fX2q0q__itemCapacity, .projects-list-module-scss-module__fX2q0q__itemSquare {
    font-size: 18px;
  }

  .projects-list-module-scss-module__fX2q0q__itemTitle {
    text-align: center;
  }

  .projects-list-module-scss-module__fX2q0q__itemTimeline {
    padding: 10px 0 0;
  }

  .projects-list-module-scss-module__fX2q0q__itemSeparator {
    display: none;
  }

  .projects-list-module-scss-module__fX2q0q__itemPictureWrapper {
    order: -1;
  }
}

/*# sourceMappingURL=Documents_Pets_ambilux_frontend_src_components_dfb49c5a._.css.map*/