/* [project]/Documents/Pets/ambilux/frontend/src/scss/globals.scss.css [app-client] (css) */
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-blue: blue;
  --shadow-vertical: 1px 2px 5px 0px #0000004d;
  --shadow-invertical: 1px -2px 5px 0px #0000004d;
}

body, html {
  height: 100vh;
  overflow: hidden;
}

#awd {
  view-transition-name: body;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: unset;
  outline: unset;
  border: unset;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

::view-transition-old(body) {
  animation: none !important;
}

::view-transition-new(body) {
  animation: none !important;
}

::view-transition-group(body) {
  animation: none;
  z-index: auto !important;
}

::view-transition-image-pair(body) {
  isolation: isolate;
  will-change: transform;
  z-index: 1;
}

::view-transition-new(body) {
  z-index: 10000;
  animation: none !important;
}

::view-transition-old(body) {
  z-index: -1;
  animation: none !important;
}

@font-face {
  font-family: montserrat;
  font-weight: bold;
  font-style: normal;
  src: url("/fonts/montserrat-bold.ttf") format("truetype");
}

@font-face {
  font-family: montserrat;
  font-weight: light;
  font-style: normal;
  src: url("/fonts/montserrat-light.ttf") format("truetype");
}

@media screen and (max-width: 925px) {
  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }
}

/* [project]/Documents/Pets/ambilux/frontend/src/app/layout.module.scss.module.css [app-client] (css) */
.layout-module-scss-module__Nm6aKG__body {
  width: 100vw;
  position: relative;
  overflow-x: hidden;
}

.layout-module-scss-module__Nm6aKG__content {
  width: 100vw;
  min-height: calc(100vh - 150px);
  overflow-x: hidden;
}

.layout-module-scss-module__Nm6aKG__wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden scroll;
}

.layout-module-scss-module__Nm6aKG__background {
  z-index: -1;
  aspect-ratio: 1920 / 1080;
  height: 100vh;
  position: fixed;
  top: 0;
}

.layout-module-scss-module__Nm6aKG__backgroundImage {
  object-fit: cover;
}

.layout-module-scss-module__Nm6aKG__backToTop {
  cursor: pointer;
  filter: drop-shadow(0 0 5px #55500050);
  background-color: var(--color-white);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0 0 1px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

@media screen and (max-width: 925px) {
  .layout-module-scss-module__Nm6aKG__content {
    min-height: unset;
  }

  .layout-module-scss-module__Nm6aKG__body {
    padding: 0;
  }

  .layout-module-scss-module__Nm6aKG__wrapper {
    height: 100vh;
    padding: 0 0 100px;
  }

  .layout-module-scss-module__Nm6aKG__background {
    top: 0;
  }

  .layout-module-scss-module__Nm6aKG__backToTop {
    display: block;
  }
}

/* [project]/Documents/Pets/ambilux/frontend/src/components/header/header.module.scss.module.css [app-client] (css) */
.header-module-scss-module__sUM59q__header {
  z-index: 10000;
  width: 100%;
  height: 40px;
  box-shadow: var(--shadow-vertical);
  background-color: var(--color-white);
  justify-content: center;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  overflow: visible;
}

.header-module-scss-module__sUM59q__active:before {
  content: "";
  background-color: var(--color-black);
  width: calc(100% - 30px);
  height: 5px;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.header-module-scss-module__sUM59q__item {
  cursor: pointer;
  text-align: center;
  width: 160px;
  color: var(--color-black);
  padding: 20px 0 0;
  font-family: helvetica, sans-serif;
  font-size: 15px;
  position: relative;
}

.header-module-scss-module__sUM59q__item:hover {
  color: #000000b3;
}

.header-module-scss-module__sUM59q__item:hover:before {
  content: "";
  background-color: var(--color-black);
  width: calc(100% - 30px);
  height: 5px;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.header-module-scss-module__sUM59q__mobileWrapper {
  display: none;
}

.header-module-scss-module__sUM59q__mobileMenu {
  opacity: 0;
  visibility: hidden;
  background-color: #e8e8e8;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 100px 0 0;
  transition: visibility, opacity .25s;
  display: flex;
  position: absolute;
}

.header-module-scss-module__sUM59q__mobileMenu.header-module-scss-module__sUM59q__activeMenu {
  opacity: 1;
  visibility: visible;
}

.header-module-scss-module__sUM59q__mobileItem:last-child:after {
  display: none;
}

.header-module-scss-module__sUM59q__mobileItem {
  color: var(--color-black);
  padding: 15px 0;
  font-family: montserrat, sans-serif;
  font-size: 22px;
  position: relative;
}

.header-module-scss-module__sUM59q__mobileItem.header-module-scss-module__sUM59q__mobileActive {
  color: #999;
}

.header-module-scss-module__sUM59q__mobileItem:after {
  content: "";
  background-color: var(--color-black);
  width: 50px;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 925px) {
  .header-module-scss-module__sUM59q__header {
    border-bottom: 1px solid #0000001a;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    position: relative;
  }

  .header-module-scss-module__sUM59q__imageWrapper {
    aspect-ratio: 281 / 50;
    width: calc(100% - 40px);
    margin: 140px auto 70px;
    position: relative;
  }

  .header-module-scss-module__sUM59q__mobileWrapper {
    display: block;
  }

  .header-module-scss-module__sUM59q__logo {
    object-fit: cover;
  }

  .header-module-scss-module__sUM59q__separator {
    background-color: var(--color-black);
    width: calc(100% - 100px);
    height: 3px;
    margin: 0 auto 70px;
  }

  .header-module-scss-module__sUM59q__sorry {
    text-align: center;
    width: calc(100% - 100px);
    margin: 0 auto 70px;
    font-family: montserrat, sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: block;
  }

  .header-module-scss-module__sUM59q__menuWrapper {
    justify-content: center;
    gap: 20px;
    display: flex;
    position: relative;
  }

  .header-module-scss-module__sUM59q__button {
    z-index: 111;
    cursor: pointer;
    width: 30px;
    height: 40px;
    transition: all .25s;
    position: absolute;
    top: 0;
    right: 40px;
  }

  .header-module-scss-module__sUM59q__button.header-module-scss-module__sUM59q__active .header-module-scss-module__sUM59q__buttonIcon {
    background-color: #0000;
    left: 0;
    transform: rotate(180deg);
  }

  .header-module-scss-module__sUM59q__button.header-module-scss-module__sUM59q__active .header-module-scss-module__sUM59q__buttonIcon:before, .header-module-scss-module__sUM59q__button.header-module-scss-module__sUM59q__active .header-module-scss-module__sUM59q__buttonIcon:after {
    top: 0;
  }

  .header-module-scss-module__sUM59q__button.header-module-scss-module__sUM59q__active .header-module-scss-module__sUM59q__buttonIcon:before {
    transform: rotate(45deg);
  }

  .header-module-scss-module__sUM59q__button.header-module-scss-module__sUM59q__active .header-module-scss-module__sUM59q__buttonIcon:after {
    transform: rotate(-45deg);
  }

  .header-module-scss-module__sUM59q__buttonIcon {
    overflow-y: initial;
    background-color: #212121;
    width: 30px;
    height: 4px;
    transition: all .25s;
    position: absolute;
    top: 20px;
    left: 0;
  }

  .header-module-scss-module__sUM59q__buttonIcon:before, .header-module-scss-module__sUM59q__buttonIcon:after {
    content: "";
    background: #212121;
    width: 30px;
    height: 4px;
    transition: all .25s;
    position: absolute;
    left: 0;
  }

  .header-module-scss-module__sUM59q__buttonIcon:before {
    top: -10px;
  }

  .header-module-scss-module__sUM59q__buttonIcon:after {
    top: 10px;
  }

  .header-module-scss-module__sUM59q__item {
    display: none;
  }
}

/* [project]/Documents/Pets/ambilux/frontend/src/components/footer/footer.module.scss.module.css [app-client] (css) */
.footer-module-scss-module__0dZbia__footer {
  width: 100%;
  height: 100px;
  box-shadow: var(--shadow-invertical);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 0;
  padding: 5px 0 15px;
  display: flex;
}

.footer-module-scss-module__0dZbia__title, .footer-module-scss-module__0dZbia__button {
  color: var(--color-black);
  font-family: montserrat, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.footer-module-scss-module__0dZbia__button {
  cursor: pointer;
}

/*# sourceMappingURL=Documents_Pets_ambilux_frontend_src_0dc65547._.css.map*/