/* [project]/Documents/Pets/ambilux/frontend/src/components/pages/home/main/home-main.module.scss.module.css [app-client] (css) */
.home-main-module-scss-module__1jr2fW__main {
  flex-direction: column;
  align-items: center;
  width: 100vw;
  display: flex;
  overflow-x: hidden;
}

.home-main-module-scss-module__1jr2fW__mainWrapper {
  flex-direction: column;
  gap: 20px;
  max-width: 1175px;
  padding: 10px 100px 30px;
  display: flex;
}

.home-main-module-scss-module__1jr2fW__item {
  background-color: var(--color-white);
  justify-content: space-between;
  gap: 20px;
  display: flex;
  overflow: hidden;
}

.home-main-module-scss-module__1jr2fW__reverse {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.home-main-module-scss-module__1jr2fW__reverse .home-main-module-scss-module__1jr2fW__itemInfo {
  padding: 25px 35px 25px 0;
}

.home-main-module-scss-module__1jr2fW__itemInfo {
  flex-direction: column;
  padding: 25px 0 25px 30px;
  display: flex;
}

.home-main-module-scss-module__1jr2fW__itemTitle, .home-main-module-scss-module__1jr2fW__itemTimeline, .home-main-module-scss-module__1jr2fW__itemDescription, .home-main-module-scss-module__1jr2fW__itemSize, .home-main-module-scss-module__1jr2fW__itemCapacity, .home-main-module-scss-module__1jr2fW__itemSquare {
  font-family: Helvetica, sans-serif;
}

.home-main-module-scss-module__1jr2fW__itemType, .home-main-module-scss-module__1jr2fW__itemAddress, .home-main-module-scss-module__1jr2fW__itemTimeline, .home-main-module-scss-module__1jr2fW__itemDescription, .home-main-module-scss-module__1jr2fW__itemSize, .home-main-module-scss-module__1jr2fW__itemCapacity, .home-main-module-scss-module__1jr2fW__itemSquare {
  font-family: montserrat, sans-serif;
  font-size: 17px;
  font-weight: lighter;
}

.home-main-module-scss-module__1jr2fW__itemType {
  font-size: 13px;
}

.home-main-module-scss-module__1jr2fW__itemTitle {
  margin: 10px 0 8px;
  font-size: 22px;
}

.home-main-module-scss-module__1jr2fW__itemAddress {
  font-size: 17px;
  line-height: 30px;
}

.home-main-module-scss-module__1jr2fW__itemSeparator {
  background-color: var(--color-black);
  width: 75px;
  height: 2px;
  margin: 25px 0 30px;
}

.home-main-module-scss-module__1jr2fW__itemType, .home-main-module-scss-module__1jr2fW__itemTitle, .home-main-module-scss-module__1jr2fW__itemAddress {
  cursor: pointer;
  font-weight: bold;
}

.home-main-module-scss-module__1jr2fW__itemTimeline, .home-main-module-scss-module__1jr2fW__itemDescription {
  margin: 0 0 25px;
}

.home-main-module-scss-module__1jr2fW__itemPictureWrapper {
  cursor: pointer;
  flex-shrink: 0;
  position: relative;
}

.home-main-module-scss-module__1jr2fW__itemPicture {
  object-fit: cover;
}

@media screen and (max-width: 925px) {
  .home-main-module-scss-module__1jr2fW__mainWrapper {
    padding: 30px 0;
  }

  .home-main-module-scss-module__1jr2fW__item {
    background-color: #0000;
    flex-direction: column;
    width: 100%;
  }

  .home-main-module-scss-module__1jr2fW__itemInfo {
    align-items: center;
    padding: 10px 20px 50px;
  }

  .home-main-module-scss-module__1jr2fW__reverse .home-main-module-scss-module__1jr2fW__itemInfo {
    padding: 10px 20px 50px;
  }

  .home-main-module-scss-module__1jr2fW__itemType, .home-main-module-scss-module__1jr2fW__itemAddress, .home-main-module-scss-module__1jr2fW__itemTimeline, .home-main-module-scss-module__1jr2fW__itemDescription, .home-main-module-scss-module__1jr2fW__itemSize, .home-main-module-scss-module__1jr2fW__itemCapacity, .home-main-module-scss-module__1jr2fW__itemSquare {
    text-align: center;
    width: 100%;
  }

  .home-main-module-scss-module__1jr2fW__itemTimeline, .home-main-module-scss-module__1jr2fW__itemDescription, .home-main-module-scss-module__1jr2fW__itemSize, .home-main-module-scss-module__1jr2fW__itemCapacity, .home-main-module-scss-module__1jr2fW__itemSquare {
    font-size: 18px;
  }

  .home-main-module-scss-module__1jr2fW__itemTitle {
    text-align: center;
  }

  .home-main-module-scss-module__1jr2fW__itemTimeline {
    padding: 10px 0 0;
  }

  .home-main-module-scss-module__1jr2fW__itemSeparator {
    display: none;
  }

  .home-main-module-scss-module__1jr2fW__itemPictureWrapper {
    order: -1;
  }
}

/*# sourceMappingURL=e2b46_src_components_pages_home_main_home-main_module_scss_module_css_bad6b30c._.single.css.map*/