.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 45px 0 100px 0;

  background-color: var(--color-white);
}

.title,
.separator,
.email,
.telegram,
.social {
  font-family: 'montserrat';
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.separator {
  width: 240px;
  height: 2px;
  margin: 10px 0 35px 0;

  background-color: var(--color-black);
}

.title {
  font-size: 21px;
}

.email,
.telegram {
  font-size: 16px;
  margin: 0 0 25px 0;
}

.social {
  display: flex;
  justify-content: center;

  gap: 20px;
  margin: 0 0 40px 0;
}

.formText,
.formName,
.formEmail {
  font-family: 'helvetica', sans-serif;
  font-size: 17px;

  border-bottom: 1px solid var(--color-black);

  padding: 0 0 10px 15px;

  &:focus {
    padding-bottom: 7px;
    border-bottom: 3px solid var(--color-blue);
  }
}

.formWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.formName,
.formEmail {
  width: calc(50% - 60px);
}

.formText {
  resize: none;

  width: calc(100% - 120px);
  height: 150px;
  padding: 20px 0 10px 15px;
}

.button {
  cursor: pointer;

  font-family: 'helvetica';
  font-size: 20px;
  color: var(--color-black);
  opacity: 1;

  width: 185px;
  height: 50px;
  margin: 20px 60px 0 auto;

  transition: opacity ease-in-out 0.1s;

  &:hover {
    opacity: 0.7; 
  }
}
