// .wrapper {
//   display: flex;
//   flex-direction: column;
//   align-items: center;

//   gap: 10px;
//   padding: 70px 0 30px 0;
// }

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 70px 0 30px 0;
}

.imageWrapper {
  position: relative;
}

.image {
  object-fit: cover;
}

@media screen and (max-width: 925px) {
  .wrapper {
    padding: 10px 0 10px 0;
  }
}