.body {
  position: relative;
  overflow-x: hidden;
  width: 100vw;
}

.content {
  width: 100vw;
  min-height: calc(100vh - 40px - 110px);
  overflow-x: hidden;
}

.wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  padding: 40px 0 0 0;
}

.background {
  z-index: -1;
  position: fixed;
  top: 0;
  min-height: 100vh;
  min-width: 100vw;

  aspect-ratio: 1920 / 1080;
}

.backgroundImage {
  object-fit: cover;
}

.backToTop {
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  padding: 0 0 1px 0;
  

  filter: drop-shadow(0 0 5px #55500050);
  background-color: var(--color-white);
  border-radius: 50%;
}

@media screen and (max-width: 925px) {
  .content {
    min-height: unset;
  }

  .body {
    padding: 0;
  }
  
  .wrapper {
    height: 100vh;
    padding: 0 0 100px 0;
  }

  .background {
    top: 0;
  }

  .backToTop {
    display: block;
  }
}