.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
  height: 225px;

  margin: 20px auto 0 auto;
  padding: 0 15px 0 15px;

  border-radius: 4px;
  background-color: white;
}

.title {
  font-family: montserrat, sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 0 0 10px 0;
}

.login, .password {
  border-radius: 4px;
  background-color: #CECECE;
  height: 30px;
  margin: 0 0 20px 0;
  padding: 0 10px;
}

.submit {
  cursor: pointer;
  width: 125px;
  height: 30px;
  margin: 0 auto;

  border-radius: 4px;
  color: white;
  background-color: black;
}

.message {
  margin: 30px 30px 30px 30px;
  background-color: white;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-vertical); 
}

.name {
  font-family: 'montserrat';
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.email {
  font-family: 'montserrat';
  font-size: 20px;
  margin-bottom: 20px;
}

.text {
  font-family: 'montserrat';
  font-size: 16px;
  width: 100%;
  overflow-wrap: break-word;
}

@media screen and (max-width: 925px) {
  .message {
    margin: 30px 0 30px 0;
    padding: 10px 15px;
  }
}