.header {
  overflow: visible;
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;

  display: flex;
  justify-content: center;

  box-shadow: var(--shadow-vertical);
  background-color: var(--color-white);
}

@mixin active {
  content: '';
  display: block;
  position: absolute;

  top: 0;
  left: 50%;
  height: 5px;
  width: calc(100% - 30px);

  background-color: var(--color-black);
  transform: translateX(-50%);
}

.active::before {
  @include active;
}

.item {
  cursor: pointer;
  position: relative;

  width: 160px;
  padding: 20px 0 0 0;

  font-family: 'helvetica', sans-serif;
  font-size: 15px;
  text-align: center;
  color: var(--color-black);

  &:hover {
    color: rgba(0,0,0,0.70);
  }

  &:hover::before {
    @include active;
  }
}

.mobileWrapper {
  display: none;
}

.mobileMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 100px 0 0 0;

  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.25s;
  background-color: rgba(232, 232, 232, 1);

  &.activeMenu {
    opacity: 1;
    visibility: visible;
  }
}

.mobileItem:last-child::after {
  display: none;
}

.mobileItem {
  position: relative;
  font-family: 'montserrat', sans-serif;
  font-size: 22px;
  color: var(--color-black);
  padding: 15px 0 15px 0;

  &.mobileActive {
    color: rgb(153, 153, 153);
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50px;
    height: 1px;
    background-color: var(--color-black);
    transform: translateX(-50%);
  }
}

.mobileActive {

}

@media screen and (max-width: 925px) {
  .header {
    position: relative;
    width: 100%;
    height: calc(100vh - 200px);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .imageWrapper {
    position: relative;
    width: calc(100% - 40px);
    margin: 140px auto 70px auto;
    aspect-ratio: 281 / 50;
  }

  .mobileWrapper {
    display: block;
  }

  .logo {
    object-fit: cover;
  }

  .separator {
    width: calc(100% - 100px);
    height: 3px;
    margin: 0 auto 70px auto;
    background-color: var(--color-black);
  }

  .sorry {
    display: block;
    width: calc(100% - 100px);
    margin: 0 auto 70px auto;
    font-family: 'montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }

  .menuWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .button {
    position: absolute;
    transition: all 0.25s;
    z-index: 111;
    cursor: pointer;
    width: 30px;
    height: 40px;
    right: 40px;
    top: 0;

    &.active {
      .buttonIcon {
        transform: rotate(180deg);
        background-color: transparent;
        left: 0;
        
        &:before, &:after {
          top: 0;
        }

        &:before {
          transform: rotate(45deg);
      
        }
        
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .buttonIcon {
    overflow-y: initial;
    transition: all 0.25s;
    position: absolute;
    width: 30px;
    height: 4px;
    left: 0;
    top: 20px;
    background-color: #212121;
    
    &:before, &:after {
      transition: all 0.25s;
      width: 30px;
      height: 4px;
      left: 0;
      background: #212121;
      position: absolute;
      content: '';
    }

    &:before {
      top: -10px;
    }

    &:after {
      top: 10px;
    }
  }

  .item {
    display: none;
  }
}
