.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 100px;
  width: 100%;
  padding: 5px 0 15px 0;
  margin: 10px 0 0 0;

  box-shadow: var(--shadow-invertical);
}

.title,
.button {
  font-family: 'montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: var(--color-black);
}

.button {
  cursor: pointer;
}
