:root {
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-blue: blue;

  --shadow-vertical: 1px 2px 5px 0px rgba(0,0,0,0.30);
  --shadow-invertical: 1px -2px 5px 0px rgba(0,0,0,0.30);
}

body,
html {
  overflow: hidden;
  height: 100vh;
}

#awd {
  view-transition-name: body;
}

* {
  overflow-y: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  
  background-color: unset;
  outline: unset;
  border: unset;
}

a {
  color: inherit;
  text-decoration: none;
}

::view-transition-old(body),
::view-transition-new(body) {
  animation: none !important;
}

::view-transition-group(body) {
  animation: none;
  z-index: auto !important;
}

::view-transition-image-pair(body) {
  isolation: isolate;
  will-change: transform;
  z-index: 1;
}

::view-transition-new(body) {
  z-index: 10000;
  animation: none !important;
}

::view-transition-old(body) {
  z-index: -1;
  animation: none !important;
}

@font-face {
  font-family: 'montserrat';
  font-weight: bold;
  font-style: normal;
  src: url('/fonts/montserrat-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'montserrat';
  font-weight: light;
  font-style: normal;
  src: url('/fonts/montserrat-light.ttf') format('truetype');
}

@media screen and (max-width: 925px) {
  /* hide page scrollbar */
  * { scrollbar-width: none; } /* Firefox */
  * { -ms-overflow-style: none; } /* IE and Edge */
  *::-webkit-scrollbar, *::-webkit-scrollbar-button { display: none; } /* Chrome */
  /* end hide page scrollbar */
}