.vacancies {
  max-width: 980px;
  min-height: 1500px;

  margin: 0 auto;
  padding: 60px 69px 40px 69px;

  background-color: var(--color-white);
}

.logo {
  margin: 0 0 38px 0;
}

.info {
  font-family: 'montserrat', sans-serif;
  font-size: 24px;
  color: var(--color-black);
}

@media screen and (max-width: 925px) {
  .vacancies {
    margin: 20px 0 20px 0;
    padding: 20px 30px 20px 30px;
    min-height: unset;
  }

  .logo {
    display: none;
  }
}